.wrapper {
    max-width: 317px;
    margin: 0 auto;
    border-radius: 5px;
}

.header {
    height: 40px;
    background-color: #161619;
    display: flex;
    justify-content: end;
    padding: 0 20px;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
}

.header_select {
    cursor: pointer;
    height: 25px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #1a1b21;
    color: azure;
}

.main_part {
    background-color: #1a1b21;
    padding: 25px 35px 45px 35px;
}

.image {
    overflow: hidden;
    width: 100%;
    height: 317px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main_info {
    margin-bottom: 20px;
}

.FIO {
    text-align: center;
    color: #fff;
    font-family: "Inter";
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 10px;
}

.position {
    text-align: center;
    color: #f3bf99;
    font-family: "Inter";
    font-size: 14px;
    margin-bottom: 10px;
}

.portfolio_link {
    display: block;
    text-align: center;
    color: #fff;
    font-family: "Inter";
    font-size: 10px;
}

.portfolio_link:hover {
    color: #f3bf99;
}

.Buttons {
    display: flex;
    justify-content: end;
}

.button {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;
}

.button > img {
    width: 15px;
    height: 15px;
}

.info {
    margin-top: 35px;
}

.info_title {
    color: #f5f5f5;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.info_text {
    font-family: "Inter";
    font-size: 10px;
    line-height: 150%;
    color: #f5f5f5;
}

.footer {
    height: 65px;
    background-color: #161619;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
}

.icon {
    margin-left: 20px;
    width: 25px;
}

.icon:hover {
    background-color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_container {
    box-sizing: border-box;
    padding: 20px;
    width: 340px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
}

.loader__wrap {
    position: absolute;
    width: 102%;
    height: 102%;
    background-color: rgba(0, 0, 0, 0.233);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.alert__wrap {
    height: 30px;
    width: 100%;
}

#contact-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.form-control {
    margin-bottom: 8px;
    width: 70%;
    height: 25px;
}

#contact-form textarea {
    width: 70%;
    height: 50px;
}

.form-title {
    color: #000;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-button {
    cursor: pointer;
    color: #000;
    font-family: "Inter";
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px 13px;
}

.form-button:hover {
    padding: 3px 18px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.alert {
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    width: 100%;
}

.alert.warning {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert.success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
